.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 105px;
  font-weight: bold; 
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.15s;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}
.subscribe-button:hover {
  opacity: 0.8;
}
.subscribe-button:active {
  opacity: 0.4;
}
.join-button {
 background-color: white;
 border-color: rgb(38, 116, 211);
 border-style: solid;
 border-width: 1px;
 color: rgb(38, 116, 211);
 height: 36px;
 width: 60px;
 border-radius: 4px;
 font-weight: bold;
 font-size: 13px;
 cursor: pointer;
 margin-right: 10px;
 transition: background-color 0.5s;
 color: 0.5s;
 vertical-align: middle;
 
} 
.join-button:hover {
  background-color: rgb(38, 116, 211);
  color: white;
} 
.join-button:active {
  opacity: 0.5;
}
.tweet-button {
  background-color: rgb(0, 132, 255);
  border: none;
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.80s;
  vertical-align: top;
  vertical-align: middle; 
}

.tweet-button:hover {
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.80);
}
.tweet-button:active{
opacity: 0.5;
} 