p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title {
font-weight: bold;
font-size: 18px;
width: 280px;
line-height: 24px;
margin-bottom: 5px;
}
.video-stats {
font-size: 14px;
color: rgb(96, 96, 96);
margin-bottom: 10px;
}
.video-author {
font-size: 14px;
color:  rgb(96, 96, 96);
margin-bottom: 15px;

}
.video-text {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: rgb(96, 96, 96);
width: 280px;
line-height: 22px;
margin-bottom: 100px;
}
.apple-text{
margin-bottom: 50px;
font-size: 14px;
background-color: rgb(227, 65, 64);
color: white;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 16px;
padding-right: 16px;
text-align: center;

}
.span-exaple{
color: red;
margin-left: 5px;
cursor: pointer;
}
.span-exaple:hover {
text-decoration: underline;
}
.shop-link {
cursor: pointer;
}
.shop-link:hover {
text-decoration: underline;
}